@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

h1{
    text-align: center;
}

picture{
    display: flex;
    justify-content: center;
}

button{
    width: 80%;
}

.inferior{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}